body{
  margin: 0;
  background-color: #E4F9F5;
  text-align: center;
  position: relative;
  padding-top: 100px;

}
h1{
  width: 10%;
  margin: 0 auto 0 auto;
  font-family: 'Monoton', cursive;

}
.bottom{
  position: absolute;
  bottom:88%;
}
.upper{
  position: absolute;
  top:9%;
  left:65%;
}
P{
  font-family: 'Rock Salt', cursive;
}
.nnnn{
  text-align: center;
}
.rog{
  text-align: center;

}
.skill{
  text-align: center;
}
